body > div > main form {
    display: table;
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
    border-spacing: 1.5em;
    border-collapse: separate;
    background-color: rgb(245,245,245);
}
body > div > main form > div {
    display: table-row;
}
body > div > main form > div > div {
    display: table-cell;
}
body > div > main form > div > div:last-child {
    text-align: right;
}
body > div > main form > div > div > label::after {
    content: ":";
}
body > div > main form > div > div > input {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    border-radius: 0.5em;
    outline: 0;

    background-color: rgb(215,215,215);
    color: black
}
body > div > main form > div > div > input[type="reset"] {
    margin-left: 1.5em;
    color: white;
    background-color: gray;
}
body > div > main form > div > div > input[type="reset"]:hover {
    background-color: darkgray;
}
body > div > main form > div > div > input[type="submit"] {
    margin-left: 1.5em;
    color: white;
    background-color: steelblue;
}
body > div > main form > div > div > input[type="submit"]:hover {
    background-color: skyblue
}
body > div > main form > div > div > input[type="button"] {
    text-align: right;
    margin-left: 1.5em;
    color: white;
    background-color: gray;
}
body > div > main form > div > div > input[type="button"]:hover {
    background-color: darkgray
}
body > div > main form > div > div > input[type="file"] {
    width: 90%
}