.vscode

.DS_Store

node_modules

package-lock.json

public

bin

database.sqlite

*.jwk

__pycache__

outputs

packages/backend/assets/ldraw
packages/backend/uploads/*

manuscripts/*/*.aux
manuscripts/*/*.bbl
manuscripts/*/*.bcf
manuscripts/*/*.blg
manuscripts/*/*.fdb_latexmk
manuscripts/*/*.fls
manuscripts/*/*.lof
manuscripts/*/*.log
manuscripts/*/*.nlo
manuscripts/*/*.out
manuscripts/*/*.pdf
manuscripts/*/*.run.xml
manuscripts/*/*.synctex.gz
manuscripts/*/*.synctex(busy)
manuscripts/*/*.toc
manuscripts/*/reviews
manuscripts/*/templates