.vscode

.DS_Store

node_modules

package-lock.json

public

ldraw

bin

database.sqlite

*.jwk

# Models
packages/backend/uploads/*.glb
packages/backend/uploads/*.ldr
packages/backend/uploads/*.mpd

# Images
packages/backend/uploads/*.gif
packages/backend/uploads/*.jpg
packages/backend/uploads/*.jpeg
packages/backend/uploads/*.png
packages/backend/uploads/*.type

# Pdfs
packages/backend/uploads/*.pdf


# Audios
packages/backend/uploads/*.webm

manuscripts/*/*.aux
manuscripts/*/*.bbl
manuscripts/*/*.bcf
manuscripts/*/*.blg
manuscripts/*/*.fdb_latexmk
manuscripts/*/*.fls
manuscripts/*/*.lof
manuscripts/*/*.log
manuscripts/*/*.nlo
manuscripts/*/*.out
manuscripts/*/*.pdf
manuscripts/*/*.run.xml
manuscripts/*/*.synctex.gz
manuscripts/*/*.synctex(busy)
manuscripts/*/*.toc
manuscripts/*/reviews
manuscripts/*/templates