.vscode

.DS_Store

node_modules

package-lock.json

public

bin

database.sqlite

*.jwk

packages/backend/assets/ldraw
packages/backend/uploads/*

manuscripts/*/main.aux
manuscripts/*/main.bbl
manuscripts/*/main.bcf
manuscripts/*/main.blg
manuscripts/*/main.fdb_latexmk
manuscripts/*/main.fls
manuscripts/*/main.idx
manuscripts/*/main.ilg
manuscripts/*/main.ind
manuscripts/*/main.lof
manuscripts/*/main.log
manuscripts/*/main.nlo
manuscripts/*/main.out
manuscripts/*/main.pdf
manuscripts/*/main.run.xml
manuscripts/*/main.synctex.gz
manuscripts/*/main.synctex(busy)
manuscripts/*/main.toc
manuscripts/*/reviews
manuscripts/*/templates