@import url(./header.css);
@import url(./main.css);

body {
    margin: 0;
    font-family: Arial;
    line-height: 150%;
}

body a > img {
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    background-position: center center;
    background-size: cover;
}
body a > img.small {
    vertical-align: middle;
    width: 1em;
    height: 1em;
}
body a > img.medium {
    vertical-align: middle;
    width: 3em;
    height: 3em;
}
body a > img.big {
    vertical-align: middle;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
body a > img.big.load {
    width:1em;
    height:1em;
    padding: 1em;
    background-color:rgb(215,215,215);
}

body img.load {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
body img.empty {
    opacity: 0.25;
}

body > div > canvas {
    background-color: rgb(215,215,215);
    background-image: linear-gradient(rgba(0,0,0,00), rgba(0,0,0,0.05), rgba(0,0,0,0.15), rgba(0,0,0,0.4));
}

body svg text {
    cursor: pointer;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}