@import url(./header.css);
@import url(./main.css);

body {
    margin: 0;
    font-family: Arial;
    line-height: 150%;
}
body a > img {
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
}
body a > img.big {
    vertical-align: middle;
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
    border-radius: 50%;
}

body img.load {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body img.empty {
    opacity: 0.25;
}

body svg text {
    cursor: pointer;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}