:root {
    --red-r: 224;
    --red-g: 0;
    --red-b: 0;

    --red: rgb(var(--red-r), var(--red-g), var(--red-b));
    --red-alpha-50: rgba(var(--red-r), var(--red-g), var(--red-b), 0.5); 

    --green-r: 0;
    --green-g: 128;
    --green-b: 0;

    --green: rgb(var(--green-r), var(--green-g), var(--green-b));
    --green-alpha-50: rgba(var(--green-r), var(--green-g), var(--green-b), 0.5);

    --blue-r: 0;
    --blue-g: 0;
    --blue-b: 255;

    --blue: rgb(var(--blue-r), var(--blue-g), var(--blue-b));
    --blue-alpha-50: rgba(var(--blue-r), var(--blue-g), var(--blue-b), 0.5);
}

/* Element specific styles */

@import url(./elements/anchor.css);
@import url(./elements/body.css);
@import url(./elements/form.css);
@import url(./elements/footer.css);
@import url(./elements/header.css);
@import url(./elements/heading.css);
@import url(./elements/main.css);
@import url(./elements/paragraph.css);
@import url(./elements/table.css);

/* Class specific styles */

@import url(./classes/animation.css);
@import url(./classes/badge.css);
@import url(./classes/button.css);
@import url(./classes/icon.css);
@import url(./classes/position.css);
@import url(./classes/state.css);

/* Widget specific styles */

@import url(./widgets/BurndownChart.css);
@import url(./widgets/FileView3D.css);
@import url(./widgets/IssueThread.css);
@import url(./widgets/ModelGraph.css);
@import url(./widgets/ModelView3D.css);
@import url(./widgets/ProductView3D.css);
@import url(./widgets/VersionTree.css);
@import url(./widgets/VersionView3D.css);

/* View specific styles */

@import url(./views/Loading.css);
@import url(./views/Missing.css);
@import url(./views/Legal.css);
@import url(./views/Auth.css);
@import url(./views/User.css);
@import url(./views/Product.css);
@import url(./views/ProductIssue.css);
@import url(./views/ProductIssueComment.css);
@import url(./views/ProductIssueSetting.css);
@import url(./views/ProductMember.css);
@import url(./views/ProductMilestone.css);
@import url(./views/ProductMilestoneIssue.css);