header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    line-height: 2em;
    font-weight: bold;
    font-family: 'Arial Black';
    text-transform: uppercase;
    background-color: steelblue;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0,0.1));
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    color: white;
}
header a {
    text-decoration: none;
    color: inherit;
}
header img {
    display: block;
    float: left;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    filter: invert();
}