@import url(./main/anchor.css);
@import url(./main/heading.css);
@import url(./main/paragraph.css);
@import url(./main/form.css);
@import url(./main/table.css);
@import url(./main/list.css);
@import url(./main/search.css);

div.view > main {
    padding-top: 4em;
}

div.view > main > div:nth-child(1) {
    padding-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
}
div.view.sidebar > main > div:nth-child(1) {
    width: calc(50% - 2em);
}

div.view.sidebar > main > div:nth-child(2) {
    position: fixed;
    z-index: 0;
    top: 4em;
    left: 50%;
    right: 0;
    bottom: 0;
}
div.view.sidebar > main > div:nth-child(2) > div.widget.model_view {
    width: 100%;
    height: 100%;
}

div.view > main div.widget.model_view {
    width: 10em;
    height: 7.5em;
}
div.view > main div.widget.model_view > div.widget.scene_view {
    width: 100%;
    height: 100%;
}