div.view > main {
    position: absolute;
    z-index: 0;
    top: 4em;
    left: 15em;
    right: 0;
    bottom: 0;
    padding-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    background-color: rgba(0,0,0,0.0);
    overflow: auto;
}

div.view > main a {
    text-decoration: none;
}
div.view > main a[href ~= ''] {
    color: blue;
}
div.view > main a img {
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

div.view > main nav {
    padding-top: calc(0.75rem);
    padding-bottom: calc(0.75rem);
}
div.view > main nav::before {
    content: "You are here: "
}
div.view > main nav > span:first-child::before {
    content: "";
}
div.view > main nav > span::before {
    content: " / ";
}
div.view > main nav > span > a {
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: gray;
}
div.view > main nav > span:last-child > a {
    font-style: italic;
}
div.view > main nav > span > a[href]:hover {
    color: black;
}
div.view > main nav > span:last-child > a {
    color: black;
}

div.view > main p {
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

div.view > main a {
    color: blue;
}

div.view > main h1 {
    font-size: 200%;
    line-height: 150%;
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}
div.view > main h2 {
    font-size: 175%;
    line-height: 150%;
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}
div.view > main h3 {
    font-size: 150%;
    line-height: 150%;
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

div.view > main form {
    display: table;
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0;
    border-spacing: 1.5em;
    border-collapse: separate;
    background-color: rgba(0,0,0,0.1);
}
div.view > main form > div {
    display: table-row;
}
div.view > main form > div > div {
    display: table-cell;
}
div.view > main form > div > div:last-child {
    text-align: right;
}
div.view > main form > div > div > label::after {
    content: ":";
}
div.view > main form > div > div > input {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    outline: 0;

    background-color: rgba(0,0,0,0.1);
    color: black
}
div.view > main form > div > div > input[type="reset"] {
    margin-left: 1.5em;
    color: white;
    background-color: gray;
}
div.view > main form > div > div > input[type="reset"]:hover {
    background-color: darkgray;
}
div.view > main form > div > div > input[type="submit"] {
    margin-left: 1.5em;
    color: white;
    background-color: steelblue;
}
div.view > main form > div > div > input[type="submit"]:hover {
    background-color: skyblue
}
div.view > main form > div > div > input[type="text"] {
    width: 90%
}

div.view > main table {
    min-width: 100%;
    margin-top: calc(0.75em);
    margin-bottom: calc(0.75em);
    border-collapse: collapse;
}
div.view > main table > thead  {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}
div.view > main table > thead > tr > th {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
}
div.view > main table > tbody {
    text-align: left;
}
div.view > main table > tbody > tr > td:first-child {
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
    text-align: center;
}
div.view > main table > tbody > tr > td {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    background-color: rgba(0,0,0,0.1);

    border-top: 1px solid rgba(0,0,0,0.1);
}
div.view > main table > tbody > tr:first-child > td {
    border-top: 0;
}

div.view > main ul {
    list-style: none;
    margin: 0;
    margin-left: calc(0.75em - 0.5px);
    padding: 0;
    white-space: nowrap;
}
div.view > main li {
    padding-left: calc(1.25em - 0.5px);
    border-left: 1px dashed black;
}
div.view > main li:last-child {
    border-left: 0;
}
div.view > main li::before {
    content: "";
    display: block;
    float: left;
    width: calc(0.75em - 0.5px);
    height: calc(0.75em - 0.5px);
    margin-left: calc(-1.25em + 0.5px);
    margin-right: 0.5em;
    border-bottom: 1px dashed black;
}
div.view > main li:last-child::before {
    border-left: 1px dashed black;
}

div.view.demo > main {
    overflow: hidden;
}
div.view.demo > main div.widget.scene_graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23rem;
    padding: 1rem;
    font-size: 0.75em;
    overflow: auto;
    border-left: 1px solid rgba(0,0,0,0.1);
}
div.view.demo > main div.widget.scene_view {
    position: absolute;
    top: 0;
    left: calc(25em + 1px);
    right: 0;
    bottom: 0;
    overflow: hidden;
}