@import url(./main/anchor.css);
@import url(./main/nav.css);
@import url(./main/heading.css);
@import url(./main/paragraph.css);
@import url(./main/form.css);
@import url(./main/table.css);
@import url(./main/list.css);
@import url(./main/search.css);

div.view > main {
    position: absolute;
    z-index: 0;
    top: 4em;
    left: 15em;
    right: 0;
    bottom: 0;
    padding-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    background-color: rgba(0,0,0,0.0);
    overflow: auto;
}

div.view.demo > main {
    overflow: hidden;
}
div.view.demo > main div.widget.scene_graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23rem;
    padding: 1rem;
    font-size: 0.75em;
    overflow: auto;
    border-left: 1px solid rgba(0,0,0,0.1);
}
div.view.demo > main div.widget.scene_view {
    position: absolute;
    top: 0;
    left: calc(25em + 1px);
    right: 0;
    bottom: 0;
    overflow: hidden;
}