div.view > main {
    position: absolute;
    z-index: 0;
    top: 4em;
    left: 15em;
    right: 0;
    bottom: 0;
    padding-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    background-color: rgba(0,0,0,0.0);
    overflow: auto;
}

div.view > main a {
    text-decoration: none;
}
div.view > main a[href ~= ''] {
    color: blue;
}
div.view > main a img {
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

div.view > main nav {
    padding-top: calc(0.75rem);
    padding-bottom: calc(0.75rem);
}
div.view > main nav::before {
    content: "You are here: "
}
div.view > main nav > span:first-child::before {
    content: "";
}
div.view > main nav > span::before {
    content: " / ";
}
div.view > main nav > span > a {
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: gray;
}
div.view > main nav > span:last-child > a {
    font-style: italic;
}
div.view > main nav > span > a[href]:hover {
    color: black;
}
div.view > main nav > span:last-child > a {
    color: black;
}

div.view > main p {
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

div.view > main h1 {
    font-size: 200%;
    line-height: 150%;
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}
div.view > main h2 {
    font-size: 175%;
    line-height: 150%;
    margin: 0;
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

div.view > main form {
    display: table;
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0;
    border-spacing: 1.5em;
    border-collapse: separate;
    background-color: rgba(0,0,0,0.1);
}
div.view > main form > div {
    display: table-row;
}
div.view > main form > div > div {
    display: table-cell;
}
div.view > main form > div > div:last-child {
    text-align: right;
}
div.view > main form > div > div > label::after {
    content: ":";
}
div.view > main form > div > div > input {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    outline: 0;

    background-color: rgba(0,0,0,0.1);
    color: black
}
div.view > main form > div > div > input[type="reset"] {
    margin-left: 1.5em;
    color: white;
    background-color: gray;
}
div.view > main form > div > div > input[type="reset"]:hover {
    background-color: darkgray;
}
div.view > main form > div > div > input[type="submit"] {
    margin-left: 1.5em;
    color: white;
    background-color: steelblue;
}
div.view > main form > div > div > input[type="submit"]:hover {
    background-color: skyblue
}
div.view > main form > div > div > input[type="text"] {
    width: 90%
}

div.view > main form > div > span.filter-search {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem);
}

div.view > main > table {
    padding-top: calc(0.75em);
}
div.view > main > table > thead  {
    background-color: steelblue;
    color: white;
    text-align: center;
}
div.view > main > table > thead > tr > th {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
}
div.view > main > table > tbody {
    text-align: left;
}
div.view > main > table > tbody > tr > td:first-child {
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
    text-align: center;
}
div.view > main > table > tbody > tr > td {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    border-bottom: 1px solid #ddd;
}

div.view.demo > main {
    overflow: hidden;
}
div.view.demo > main div.widget.scene_graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23rem;
    padding: 1rem;
    font-size: 0.75em;
    overflow: auto;
    border-left: 1px solid rgba(0,0,0,0.1);
}
div.view.demo > main div.widget.scene_view {
    position: absolute;
    top: 0;
    left: calc(25em + 1px);
    right: 0;
    bottom: 0;
    overflow: hidden;
}

input.header-search {
    border-spacing: 0.5em;
    background-color: white;
    margin-top: 0.75em;
    margin-bottom: 1.5em;

    font-family: inherit;
    font-size: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
}
input.header-search[type="text"] {
    width: 17em;
}
input.header-search[type="button"] {
    margin-left: 0.5em;
    color: white;
    background-color: steelblue;
}
input.filter-search[type="button"] {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    margin-left: 0.5em;

    padding-top: calc(0.5rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.5rem - 0.25em);

    color: black;
    background-color: rgba(0,0,0,0.1);
}