main {
    position: absolute;
    z-index: 0;
    top: 4em;
    left: 15em;
    right: 0;
    bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0,0,0,0.0);
    overflow: auto;
}
main ul {
    list-style: none;
    margin: 0;
    margin-left: calc(0.75em - 0.5px);
    padding: 0;
    white-space: nowrap;
}
main li {
    padding-left: calc(1.25em - 0.5px);
    border-left: 1px dashed black;
}
main li:last-child {
    border-left: 0;
}
main li::before {
    content: "";
    display: block;
    float: left;
    width: calc(0.75em - 0.5px);
    height: calc(0.75em - 0.5px);
    margin-left: calc(-1.25em + 0.5px);
    margin-right: 0.5em;
    border-bottom: 1px dashed black;
}
main li:last-child::before {
    border-left: 1px dashed black;
}
main a img {
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}
main p {
    margin: 0;
    padding: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
main a {
    text-decoration: none;
    color: blue;
}
main h1 {
    font-size: 200%;
    line-height: 150%;
    margin-bottom: 10px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
main h2 {
    font-size: 125%;
    line-height: 150%;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
main button {
    margin-top: 1em; 
    margin-right: 0.75em;
    margin-bottom: 1em;
}
div.view.demo main {
    overflow: hidden;
}
div.view.demo div.widget.scene_graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23rem;
    padding: 1rem;
    font-size: 0.75em;
    overflow: auto;
    border-left: 1px solid rgba(0,0,0,0.1);
}
div.view.demo div.widget.scene_view {
    position: absolute;
    top: 0;
    left: calc(25em + 1px);
    right: 0;
    bottom: 0;
    overflow: hidden;
}