div.view > nav {
    position: absolute;
    z-index: 0;
    top: 4em;
    left: 0;
    bottom: 0;
    width: 15em;
    background: rgba(0,0,0,0.0);
    overflow: auto;
}
div.view > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
div.view > nav ul:first-child {
    border-top: 0;
}
div.view > nav a {
    display: block;
    padding: 1em;
    line-height: 2em;
    text-decoration: none;
    color: blue;
}
div.view > nav a:hover {
    background-color: rgba(0,0,0,0.05);
}
div.view > nav img {
    display: block;
    float: left;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}