@media screen and (max-width: 40em) {
    main.view.user table > thead > tr > th:nth-child(3) {
        display: none;
    }
    main.view.user table > tbody > tr > td:nth-child(3) {
        display: none;
    }
    main.view.user table > thead > tr > th:nth-child(2) {
        width: 100%;
    }
    main.view.user table > tbody > tr > td:nth-child(2) {
        width: 100%;
    }
}