body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    line-height: 150%;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.75em;
    padding-left: 3.5em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    font-weight: bold;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 2em 2em;
    background-image: url(/images/platform.png);
    color: black;
    filter: invert();
}
nav {
    position: absolute;
    top: 3em;
    left: 0;
    bottom: 0;
    width: 10em;
    background: lightgray;
    overflow: auto;
}
nav ul {
    border-top: 1px solid white;
}
nav ul:first-child {
    border-top: 0;
}
nav li {
    padding-top: 1em;
    padding-left: 3.5em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-position: 1em center;
    background-size: 2em 2em;
}
nav li:hover {
    background-color: rgba(0,0,0,0.1);
}
nav a {
    color: black;
}
main {
    position: absolute;
    top: 3em;
    left: 10em;
    right: 0;
    bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    overflow: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
li {
    padding-left: 2em;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 1.5em 1.5em;
    background-image: url(/images/dot.png);
}
p {
    margin: 0;
    padding: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 200%;
    line-height: 150%;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}