div.widget.file_view_3d {
    position: relative;

    width: 100%;
    height: 100%;
    
    background-color: rgb(215,215,215);
}

div.widget.file_view_3d > div.widget.model_graph {
    position: absolute;

    box-sizing: border-box;
    
    top: 0;
    right: 0;
    bottom: 0;

    width: 20em;
    max-width: 100%;

    background-color: white;
    
    overflow: auto;
}
div.widget.file_view_3d.toggle > div.widget.model_graph {
    z-index: 2;
}

div.widget.file_view_3d > div.widget.model_view_3d {
    position: absolute;

    z-index: 0;

    top: 0;
    left: 0;
    right: 20em;
    bottom: 0;

    width: auto;
    height: auto;
}

div.widget.file_view_3d > div.progress_bar {
    position: absolute;
    
    left: 1em;
    right: 21em;
    bottom: 1em;

    border-radius: 0.5em;

    overflow: hidden;
    
    background-color: white;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}
div.widget.file_view_3d > div.progress_bar > div.indicator {    
    position: absolute;

    z-index: 0;
    
    top: 0;
    left: 0;
    bottom: 0;
    
    background-color: orange;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0));
}
div.widget.file_view_3d > div.progress_bar > div.text {
    position: relative;
    
    z-index: 1;

    text-align: center;
}

div.widget.file_view_3d > a {
    display: none;

    position: absolute;

    z-index: 2;

    top: 1em;
    right: 1em;

    width: 2em;
    height: 2em;

    padding: 0;

    border-radius: 1em;
}
div.widget.file_view_3d > a > span {
    display: block;

    width: 100%;
    height: 100%;

    background-image: url(../../images/tree.png);
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: center center;
}
div.widget.file_view_3d.toggle > a > span {
    background-image: url(../../images/delete.png);
}

@media screen and (max-width: 100em) {
    div.widget.file_view_3d > div.widget.model_view_3d {
        right: 0;
    }
    div.widget.file_view_3d > div.progress_bar {
        right: 1em;
    }
    div.widget.file_view_3d > a {
        display: block;
    }
}

@media screen and (max-width: 70em) {
    div.widget.file_view_3d > div.widget.model_view_3d {
        right: 20em;
    }
    div.widget.file_view_3d > div.progress_bar {
        right: 21em;
    }
    div.widget.file_view_3d > a {
        display: none;
    }
}

@media screen and (max-width: 50em) {
    div.widget.file_view_3d > div.widget.model_view_3d {
        right: 0;
    }
    div.widget.file_view_3d > div.progress_bar {
        right: 1em;
    }
    div.widget.file_view_3d > a {
        display: block;
    }
}