div.widget.model_view_3d {
    width: 100%;
    height: 100%;
    
    background-color: rgb(215,215,215);

    outline: none;
}
div.widget.model_view_3d > canvas {
    background-image: linear-gradient(rgba(0,0,0,00), rgba(0,0,0,0.05), rgba(0,0,0,0.15), rgba(0,0,0,0.4));

    outline: none;
}