div.widget.model_graph {
    padding: 1em;
}
div.widget.model_graph ul {
    list-style: none;
    
    margin: 0;
    margin-left: calc(0.75em - 0.5px);
    
    padding: 0;
    
    white-space: nowrap;
}
div.widget.model_graph li {
    padding-left: calc(1.25em - 0.5px);
    
    border-left: 1px dashed black;
}
div.widget.model_graph li:last-child {
    border-left: 0;
}
div.widget.model_graph li::before {
    content: "";
    
    display: block;
    
    float: left;
    
    width: calc(0.75em - 0.5px);
    height: calc(0.75em - 0.5px);
    
    margin-left: calc(-1.25em + 0.5px);
    margin-right: 0.5em;
    
    border-bottom: 1px dashed black;
}
div.widget.model_graph li:last-child::before {
    border-left: 1px dashed black;
}
div.widget.model_graph a {
    color: gray;
}
div.widget.model_graph a.marked {
    color: green;
}
div.widget.model_graph a.highlighted {
    color: red;
}
div.widget.model_graph a.selected {
    color: orange;
}
div.widget.model_graph a.marked.highlighted {
    color: blue;
}