/* List */

.widget.product_list {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    display: flex;

    flex-wrap: wrap;

    align-items: stretch;

    gap: 1em;
}

/* Item */

.widget.product_list > div {
    position: relative;

    background-color: rgb(245, 245, 245);

    max-width: 42em;

    flex-basis: 20em;
    flex-shrink: 1;
    flex-grow: 1;

    border-radius: 0.5em;
 
    cursor: pointer;
}
.widget.product_list > div:hover {
    background-color: rgb(230, 230, 230);

    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
}

/* Item model */

.widget.product_list > div > div.model {
    background-color: rgb(215, 215, 215);
    background-size: cover;
    background-position: center;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    aspect-ratio: 16/9;
}

/* Item product */

.widget.product_list > div > div.product {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}

/* Item user */

.widget.product_list > div > div.user {
    position: absolute;

    left: 1em;
    right: 1em;
    bottom: 1em;

    font-style: italic;
}
.widget.product_list > div > div.user > img {
    margin-right: 0.5em;
}