div.widget.version_tree {
    display: table;
    
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

    width: 100%;
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.widget.version_tree > div {
    display: table-row;
}
div.widget.version_tree > div.between {
    height: 1px;
}
div.widget.version_tree > div.version {
    cursor: pointer;

    background-color: rgb(245, 245, 245);
}
div.widget.version_tree > div.version.selected,
div.widget.version_tree > div.version:hover {
    background-color: rgb(230, 230, 230);
}
div.widget.version_tree > div > div {
    display: table-cell;

    position: relative;
    
    vertical-align: top;
}
div.widget.version_tree > div:first-child > div.tree {
    border-top-left-radius: 1em;
}
div.widget.version_tree > div:first-child > div.model {
    border-top-right-radius: 1em;
}
div.widget.version_tree > div:last-child > div.tree {
    border-bottom-left-radius: 1em;
}
div.widget.version_tree > div:last-child > div.model {
    border-bottom-right-radius: 1em;
}
div.widget.version_tree > div > div.tree span {
    display: block;

    position: absolute;
}
div.widget.version_tree > div > div.tree span.line {
    background-color: gray;
}
div.widget.version_tree > div > div.tree span.line.vertical {
    width: 2px;
}
div.widget.version_tree > div > div.tree span.line.horizontal {
    height: 2px;

    border-top: 2px solid rgb(245,245,245);
    border-bottom: 2px solid rgb(245,245,245);
}
div.widget.version_tree > div.selected > div.tree span.line.horizontal,
div.widget.version_tree > div:hover > div.tree span.line.horizontal {
    border-top-color: rgb(230,230,230);
    border-bottom-color: rgb(230,230,230);
}
div.widget.version_tree > div > div.tree span.dot {
    width: 1em;
    height: 1em;

    margin: 0.25em;
    
    border-radius: 0.5em;
    
    background-color: black;
}
div.widget.version_tree > div > div.text {
    padding-right: 1em;
}
div.widget.version_tree > div > div.text > div:first-child {
    position: relative;
    
    margin-top: 1em;
    margin-bottom: 0.75em;

    white-space: nowrap;
    overflow: hidden;
    
    font-weight: bold;
}
div.widget.version_tree > div > div.text > div:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1em;
    background-image: linear-gradient(to right, rgba(245,245,245,0),rgba(245,245,245,1));

}
div.widget.version_tree > div.selected > div.text > div:first-child::after,
div.widget.version_tree > div:hover > div.text > div:first-child::after {
    background-image: linear-gradient(to right, rgba(230,230,230,0),rgba(230,230,230,1));
}
div.widget.version_tree > div > div.text > div:last-child {
    margin-bottom: 0.75em;

    text-align: justify;
}
div.widget.version_tree > div > div.text > div > span.label {
    display: inline-block;

    margin-right: 1em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    border-radius: 0.25em;
    
    background-color: black;
    
    color: white;
}
div.widget.version_tree > div > div.text > div > span.user {
    margin-left: 1em;
}
div.widget.version_tree > div > div.text > div > span.user > span.email {
    display: none;
}
div.widget.version_tree > div > div.model {
    width: 10em;
    height: 10em;

    background-color: rgb(215,215,215);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 45em){
    div.widget.version_tree > div> div.model {
        display: none;
    }

    div.widget.version_tree > div:first-child > div.text {
        border-top-right-radius: 1em;
    }
    div.widget.version_tree > div:last-child > div.text {
        border-bottom-right-radius: 1em;
    }
}