div.widget.version_tree {
    width: 100%;
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

div.widget.version_tree > div.between > svg {
    display: block;
}
div.widget.version_tree > div.between > svg > g > .foreground {
    stroke-width: 3px;
    stroke-linecap: round;

    fill: none;
}
div.widget.version_tree > div.between > svg > g > .background {
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 6px;
    stroke-linecap: round;

    fill: none;
}

div.widget.version_tree > div.version {
    display: grid;

    grid-template-columns: min-content auto min-content;

    cursor: pointer;

    background-color: rgb(245, 245, 245);
}
div.widget.version_tree > div.version.selected,
div.widget.version_tree > div.version:hover {
    background-color: rgb(230, 230, 230);
}
div.widget.version_tree > div.version {
    border-radius: 1em;
}

div.widget.version_tree > div.version > div.tree {
    grid-column: 1;
    grid-row: 1;

    align-self: stretch;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
div.widget.version_tree > div.version > div.tree > svg > line.vertical {
    stroke-width: 3px;
    stroke-linecap: round;
}
div.widget.version_tree > div.version > div.tree > svg > line.horizontal.background {
    stroke: rgba(245, 245, 245, 0.5);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-dasharray: 6;
}
div.widget.version_tree > div.version.selected > div.tree > svg > line.horizontal.background,
div.widget.version_tree > div.version:hover > div.tree > svg > line.horizontal.background {
    stroke: rgba(230, 230, 230, 0.5);
}
div.widget.version_tree > div.version > div.tree > svg > line.horizontal.foreground {
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 6;
}
div.widget.version_tree > div.version > div.tree > svg > circle.background {
    stroke: rgba(245, 245, 245, 0.5);
    stroke-width: 4px;
}
div.widget.version_tree > div.version.selected > div.tree > svg > circle.background,
div.widget.version_tree > div.version:hover > div.tree > svg > circle.background {
    stroke: rgba(230, 230, 230, 0.5);
}

div.widget.version_tree > div.version > div.text {
    grid-column: 2;
    grid-row: 1;

    justify-self: stretch;
    align-self: stretch;

    padding-right: 1em;
}
div.widget.version_tree > div.version > div.text > div:first-child {
    position: relative;
    
    margin-top: 1em;
    margin-bottom: 0.75em;

    white-space: nowrap;
    overflow: hidden;
    
    font-weight: bold;
}
div.widget.version_tree > div.version > div.text > div:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: 3em;
    bottom: 0;
    width: 1em;
    background-image: linear-gradient(to right, rgba(245,245,245,0),rgba(245,245,245,1));

}
div.widget.version_tree > div.version.selected > div.text > div:first-child::after,
div.widget.version_tree > div.version:hover > div.text > div:first-child::after {
    background-image: linear-gradient(to right, rgba(230,230,230,0),rgba(230,230,230,1));
}
div.widget.version_tree > div.version > div.text > div:last-child {
    margin-bottom: 0.75em;

    text-align: justify;
}
div.widget.version_tree > div.version > div.text > div > a.download {
    display: block;

    position: relative;

    z-index: 1;

    float: right;

    width: 3em;
    height: 3em;

    background-color: rgb(245,245,245);
}
div.widget.version_tree > div.version.selected > div.text > div > a.download,
div.widget.version_tree > div.version:hover > div.text > div > a.download {
    background-color: rgb(230,230,230);
}
div.widget.version_tree > div.version > div.text > div > a.download > img {
    display: block;

    width: 1em;
    height: 1em;

    padding: 1em;

    background-color: rgb(215,215,215);

    border-radius: 50%;
}
div.widget.version_tree > div.version > div.text > div > a.download:hover > img {
    background-color: rgb(205,205,205);
}
div.widget.version_tree > div.version > div.text > div > span.label {
    display: inline-block;

    margin-right: 1em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    border-radius: 0.25em;
    
    background-color: black;
    
    color: white;
}
div.widget.version_tree > div.version > div.text > div > span.user {
    margin-left: 1em;
}
div.widget.version_tree > div.version > div.text > div > span.user > span.email {
    display: none;
}

div.widget.version_tree > div.version > div.model {
    display: grid;

    grid-column: 3;
    grid-row: 1;

    align-self: stretch;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    width: 10em;

    background-color: rgb(215,215,215);
}
div.widget.version_tree > div.version > div.model > * {
    align-self: center;
}
div.widget.version_tree > div.version > div.model > * > img {
    display: block;

    margin-left: auto;
    margin-right: auto;
}
div.widget.version_tree > div.version > div.model > * > img.image {
    width: 100%;
}

@media screen and (max-width: 45em){
    div.widget.version_tree > div.version > div.model {
        display: none;
    }

    div.widget.version_tree > div.version > div.text {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}