[[source]]
url = "https://github.com/ghackenberg/caddrive"
verify_ssl = true
name = "caddrive-leofea"

[packages]
flask = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.9"
