span.value {
    display: inline-block;
}

span.value > span.loading {
    display: inline-block;

    width: 7em;
    height: 1.5em;

    border-radius: 0.75em;

    vertical-align: top;

    background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.10));
}