/* View footer */

footer.page {
    flex: 0;

    display: none;

    flex-direction: row;

    justify-content: space-between;

    height: 3em;

    background-color: rgb(245,245,245);

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(215,215,215);
}
footer.page > div {
    white-space: nowrap;
}
footer.page > div:first-child {
    flex: 1;
}
footer.page > div:first-child > span > a {
    display: inline-block;
    
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.75em;

    color: black;
}
footer.page > div:first-child > span > a.active {
    font-weight: bold;

    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: orange;

    padding-top: calc(0.75em - 1px);

    margin-top: -1px;
}
footer.page > div:last-child {
    flex: 0;
}
footer.page > div:last-child > a {
    display: inline-block;

    padding-top: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.75em;

    color: black;
}

@media screen and (max-width: 70em) {
    footer.page {
        display: flex;
    }
}