form {
    display: table;
    
    box-sizing: border-box;
    
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    
    width: 100%;
    
    padding: 0;
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
    border-spacing: 1.5em;
    border-collapse: separate;

    background-color: rgb(245,245,245);
}

form input[type="file"] {
    display: none;
}
form audio {
    vertical-align: middle;
}

form > div {
    display: table-row;
}
form > div > div {
    display: table-cell;
    vertical-align: middle;
}
form > div > div:first-child {
    width: 0;
    white-space: nowrap;
}
form > div > div:last-child {
    width: 100%;
}

form > div > div > label::after {
    content: ":";
}

form > div > div > input[type="text"],
form > div > div > input[type="email"],
form > div > div > input[type="password"] {
    min-width: 25em;
}
form > div > div > input[type="number"] {
    min-width: 5em;
}
form > div > div > input[type="date"] {
    min-width: 10em;
}
form > div > div > select,
form > div > div > input[type="submit"],
form > div > div > input[type="button"] {
    min-width: 10em;
}

form > div > div > textarea {
    width: 100%;
    height: 10em;
}

form > div > div > table {
    margin-top: 0;
    margin-bottom: 0;
}