/* Page header */

header.page {
    flex: 0;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    background-color: black;

    color: white;
}
header.page > div {
    padding: 1em;

    height: 2em;
    
    line-height: 2em;

    white-space: nowrap;
}
header.page > div > span > a {
    text-decoration: none;
    
    color: inherit;
}
header.page > div > span > a > img {
    filter: invert();
    
    padding: 0.25em;
    
    margin-right: 0;
}
header.page > div:first-child > span > a > img.icon.small {
    margin-right: 0.5em;

    padding: 0;

    width: 2em;
    height: 2em;
}
header.page > div:first-child > span > a > span:nth-child(2) {
    font-family: 'Arial Black';

    text-transform: uppercase;

    color: inherit;
}
header.page > div:first-child > span > a > span:nth-child(3) {
    font-family: 'Arial Black';

    color: rgb(128,128,128);
}
header.page > div:last-child > span:last-child > a > img {
    filter: none;
}

/* View header */

header.view {
    flex: 0;
    
    background-color: rgb(245,245,245);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(215,215,215);
}

header.view > div {
    white-space: nowrap;

    overflow-y: hidden;
    overflow-x: auto;
}

header.view > div.entity {
    padding: 1rem;

    font-size: 200%;

    line-height: 150%;
}

header.view > div.entity > span.badge {
    font-size: 0.75rem;

    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
}

header.view > div.tabs > span > a {
    display: inline-block;
    
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.75em;

    color: black;
}
header.view > div.tabs:first-child > span > a {
    padding-top: 1em;
}
header.view > div.tabs > span > a.active {
    font-weight: bold;

    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: orange;

    padding-bottom: calc(0.75em - 2px);

    margin-bottom: -1px;
}