h1 {
    font-size: 200%;
    
    line-height: 150%;
    
    margin: 0;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

h2 {
    font-size: 175%;
    
    line-height: 150%;

    margin: 0;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

h3 {
    font-size: 150%;
    
    line-height: 150%;
    
    margin: 0;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

h4 {
    font-size: 125%;
    
    line-height: 150%;
    
    margin: 0;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

h5 {
    font-size: 100%;
    
    line-height: 150%;
    
    margin: 0;
    
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}

h1 > a::after {
    content: " / ";
}
h1 > a:last-child::after {
    content: "";
}

h2 > a::after {
    content: " | ";
}
h2 > a:last-child::after {
    content: "";
}

h3 > strong {
    color: orange;
}