main.view {
    display: flex;

    flex-direction: row;

    overflow: auto;

    flex-grow: 1;
}

main.view > div {
    box-sizing: border-box;
}

main.view > div:first-child:last-child {
    width: 100vw;
}

main.view > div:nth-child(1) {
    width: 50em;

    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
        
    overflow: auto;
}
main.view > div:nth-child(1) > a.button {
    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
main.view > div:nth-child(1) > a.button.right {
    float: right;

    margin-left: 1em;
    margin-right: 0em;
}

main.view > div:nth-child(2) {
    flex-grow: 1;
}

@media screen and (max-width: 70em) {
    main.view.sidebar > div {
        width: 100vw;
    }

    main.view.sidebar > div:nth-child(2) {
        display: none;
    }

    main.view.sidebar.visible > div:nth-child(1) {
        display: none;
    }
    main.view.sidebar.visible > div:nth-child(2) {
        display: block;
    }
}