body > div > main {
    position: fixed;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Header */
body > div > main > footer,
body > div > main > header {
    background-color: rgb(245,245,245);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(215,215,215);
}
body > div > main > header > div:nth-child(1) {
    padding: 1rem;
    font-size: 200%;
    line-height: 150%;
}
body > div > main > header > div:nth-child(1) > span::after {
    content: "/";
    margin-left: 0.25em;
    margin-right: 0.25em;
}
body > div > main > header > div:nth-child(1) > span:last-child::after {
    content: "";
}
body > div > main > footer > div:nth-child(2)
body > div > main > header > div:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
}
body > div > main > footer > div:nth-child(2) > span > a,
body > div > main > header > div:nth-child(2) > span > a {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    color: black;
}

body > div > main > footer > div:nth-child(2) > span > img {
    vertical-align: middle;
}

body > div > main > header > div:nth-child(2) > span > a.active {
    font-weight: bold;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    padding-bottom: calc(0.75em - 2px);
    margin-bottom: -1px;
}

body > div > main > footer > div:nth-child(2) > span > a.active {
    font-weight: bold;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: orange;
    padding-top: calc(0.75em - 1px);
    margin-top: -1px;
}

/* Main */

body > div > main > main {
    position: absolute;
    top: calc(5em + 1px);
    left: 0;
    right: 0;
    bottom: 0;
}

body > div > main.reduced > main {
    top: 0;
}

body > div > main.extended > main {
    top: calc(7.25em + 1px);
}

body > div > main > main > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body > div > main > main > div:nth-child(1) {
    overflow: auto;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}
body > div > main > main > div:nth-child(1) > a.button {
    display: inline-block;
    font-size: inherit;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
body > div > main > main > div:nth-child(1) > a.button.right {
    float: right;
    margin-left: 1em;
    margin-right: 0em;
}
body > div > main > main > div:nth-child(1) > a.button.blue {
    border-color: blue;
}
body > div > main > main > div:nth-child(1) > a.button.gray {
    border-color: gray;
}
body > div > main > main > div:nth-child(1) > a.button.green {
    border-color: green;
}
body > div > main > main > div:nth-child(1) > a.button.stroke.blue {
    color: blue;
}
body > div > main > main > div:nth-child(1) > a.button.stroke.gray {
    color: gray;
}
body > div > main > main > div:nth-child(1) > a.button.stroke.green {
    color: green;
}
body > div > main > main > div:nth-child(1) > a.button.fill {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1));
    color: white;
}
body > div > main > main > div:nth-child(1) > a.button.fill.blue {
    background-color: blue;
}
body > div > main > main > div:nth-child(1) > a.button.fill.gray {
    background-color: gray;
}
body > div > main > main > div:nth-child(1) > a.button.fill.green {
    background-color: green;
}
body > div > main > main.sidebar > div:nth-child(1) {
    left: 0;
    width: 48em;
}

body > div > main > main.sidebar > div:nth-child(2) {
    left: 50em;
    right: 0;
}

body > div > main > footer {
    display: none;
}

@media screen and (max-width: 70em) {
    body > div > main > main.sidebar > div:nth-child(1) {
        width: auto;
        bottom: 3em;
        right: 0;
    }
    
    body > div > main > main.sidebar > div:nth-child(2) {
        width: 100%;
        bottom: 3em;
        left: 100%;
        right: auto;
    }

    body > div > main > main.sidebar.visible > div:nth-child(2) {
        left: 0;
    }

    body > div > main > footer {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(215,215,215);

        /* padding-top: 0.5em; */
        height: 3em;
       
    }
}

body > div > main > main div.widget.product_view {
    position: relative;
    width: 10em;
    height: 7.5em;
    background-color: rgb(215,215,215);
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view {
    width: 100%;
    height: 100%;
}
body > div > main > main div.widget.product_view > header {
    display: none;
}
body > div > main > main div.widget.product_view > main {
    width: 100%;
    height: 100%;
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view > header {
    display: block;
    width: 100%;
    height: 3em;
    
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view > header > select {
    box-sizing: border-box;

    max-width: 100%;

    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    border-radius: 0.5em;
    outline: 0;

    background-color: rgb(215,215,215);
    color: black
    
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view > main {
    width: 100%;
    height: calc(100% - 3em);
}

body > div > main > main div.widget.model_view {
    position: relative;
    width: 10em;
    height: 7.5em;
    background-color: rgb(215,215,215);
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.model_view {
    width: 100%;
    height: 100%;
}

body > div > main > main div.widget.model_view > img,
body > div > main > main div.widget.product_view > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

body > div > main > main.sidebar > div:nth-child(2) div.widget.model_view > img,
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view > img {
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
}

body > div > main > main.sidebar > div:nth-child(2) div.widget.model_view > img.empty,
body > div > main > main.sidebar > div:nth-child(2) div.widget.product_view > img.empty {
    width: 4em;
    height: 4em;
    margin-top: -2em;
    margin-left: -2em;
}

body > div > main > main div.widget.scene_view {
    width: 100%;
    height: 100%;
}
body > div > main > main.sidebar > div:nth-child(2) div.widget.scene_view > canvas {
    background-image: linear-gradient(rgba(0,0,0,00), rgba(0,0,0,0.05), rgba(0,0,0,0.15), rgba(0,0,0,0.4));
}

body > div > main > main div.widget.version_tree {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
body > div > main > main div.widget.version_tree > div {
    display: table-row;
}
body > div > main > main div.widget.version_tree > div.between {
    height: 1px;
}
body > div > main > main div.widget.version_tree > div.version {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}
body > div > main > main div.widget.version_tree > div.version.selected,
body > div > main > main div.widget.version_tree > div.version:hover {
    background-color: rgb(230, 230, 230);
}
body > div > main > main div.widget.version_tree > div > div {
    display: table-cell;
    position: relative;
    vertical-align: top;
}
body > div > main > main div.widget.version_tree > div:first-child > div.tree {
    border-top-left-radius: 1em;
}
body > div > main > main div.widget.version_tree > div:first-child > div.model {
    border-top-right-radius: 1em;
}
body > div > main > main div.widget.version_tree > div:last-child > div.tree {
    border-bottom-left-radius: 1em;
}
body > div > main > main div.widget.version_tree > div:last-child > div.model {
    border-bottom-right-radius: 1em;
}
body > div > main > main div.widget.version_tree > div > div.tree span {
    display: block;
    position: absolute;
}
body > div > main > main div.widget.version_tree > div > div.tree span.line {
    background-color: gray;
}
body > div > main > main div.widget.version_tree > div > div.tree span.line.vertical {
    width: 2px;
}
body > div > main > main div.widget.version_tree > div > div.tree span.line.horizontal {
    height: 2px;
    border-top: 2px solid rgb(245,245,245);
    border-bottom: 2px solid rgb(245,245,245);
}
body > div > main > main div.widget.version_tree > div.selected > div.tree span.line.horizontal,
body > div > main > main div.widget.version_tree > div:hover > div.tree span.line.horizontal {
    border-top-color: rgb(230,230,230);
    border-bottom-color: rgb(230,230,230);
}
body > div > main > main div.widget.version_tree > div > div.tree span.dot {
    width: 1em;
    height: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    background-color: black;
}
body > div > main > main div.widget.version_tree > div > div.text {
    padding-right: 0.5em;
}
body > div > main > main div.widget.version_tree > div > div.text > div:first-child {
    margin-top: 0.75em;
    font-weight: bold;
}
body > div > main > main div.widget.version_tree > div > div.text > div:last-child {
    margin-bottom: 0.75em;
}
body > div > main > main div.widget.version_tree > div > div.text > div > span.label {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.25em;
    background-color: black;
    color: white;
}
body > div > main > main div.widget.version_tree > div > div.model {
    width: 10em;
    height: 10em;
    background-position: center;
    background-size: cover;
}
body > div > main > main div.widget.version_tree > div:first-child > div.model * {
    border-top-right-radius: 1em;
}
body > div > main > main div.widget.version_tree > div:last-child > div.model * {
    border-bottom-right-radius: 1em;
}

body > div > main span.state {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
    color: white;
}
body > div > main span.state.open {
    background-color: red;
}
body > div > main span.state.closed {
    background-color: green;
}

body > div > main > main div.widget.thread {
    position: relative;
    margin-top: 0.5em;
    border-top: 1px solid rgb(215,215,215);
    padding-top: 1em;
    padding-bottom: 0.5em;
}
body > div > main > main div.widget.thread::before {
    content: "";
    display: block;
    position: absolute;
    top: 1em;
    left: calc(5.5em - 1px);
    bottom: 1em;
    border-left: 2px solid rgb(215,215,215);
}
body > div > main > main div.widget.thread > div {
    display: table;
    position: relative;
    width: 100%;
}
body > div > main > main div.widget.thread > div.comment {
    margin-top: 1em;
}
body > div > main > main div.widget.thread > div > div {
    display: table-row;
}
body > div > main > main div.widget.thread > div > div > div {
    display: table-cell;
    border-width: 0;
    border-style: solid;
    border-color: rgb(215,215,215);
}
body > div > main > main div.widget.thread > div > div > div.icon {
    vertical-align: middle;
    padding-right: 1em;
}
body > div > main > main div.widget.thread > div > div > div.icon > a {
    display: block;
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(245,245,245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 50%;
}
body > div > main > main div.widget.thread > div.self > div > div.icon > a {
    background-color: rgb(225,235,245);
}
body > div > main > main div.widget.thread > div > div > div.icon > a > img {
    display: block;

    width: calc(2.5em - 2px);
    height: calc(2.5em - 2px);

    border-radius: 50%;
}
body > div > main > main div.widget.thread > div > div.head > div.text,
body > div > main > main div.widget.thread > div > div.body > div.text {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    border-left-width: 1px;
    border-right-width: 1px;
}
body > div > main > main div.widget.thread > div > div.head > div.text {
    background-color: rgb(245,245,245);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
body > div > main > main div.widget.thread > div > div.head > div.text::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 0.5em;
    height: 0.5em;
    top: 1em;
    left: 3.25em;
    background-color: rgb(245,245,245);
    border-top: 1px solid rgb(215,215,215);
    border-left: 1px solid rgb(215,215,215);
    transform: rotate(-45deg);
}
body > div > main > main div.widget.thread > div.self > div.head > div.text {
    background-color: rgb(225,235,245);
}
body > div > main > main div.widget.thread > div.self > div.head > div.text::before {
    background-color: rgb(225,235,245);
}
body > div > main > main div.widget.thread > div > div.body > div.text {
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
body > div > main > main div.widget.thread > div > div.body > div.text > textarea {
    display: block;
    
    outline: none;
    border: none;

    font-size: inherit;

    margin-top: 1em;
    margin-bottom: 1em;

    width: 100%;
    height: 10em;
}
body > div > main > main div.widget.thread > div > div.body > div.text > button {
    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    margin-right: 0.5em;
    margin-bottom: 1em;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    border-radius: 0.5em;
    outline: 0;

    background-color: blue;
    color: white;
}
body > div > main > main div.widget.thread > div > div.body > div.text > button:last-child {
    border: 1px solid blue;

    padding-top: calc(0.75rem - 0.25em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-bottom: calc(0.75rem - 0.25em - 1px);

    background-color: white;
    color: blue;
}
body > div > main > main div.widget.thread > div > div.note > div.text {
    padding-top: 1em;
    padding-left: 1em;
}
body > div > main > main div.widget.thread > div > div.note > div.text > a[href] {
    margin-right: 0.5em;
}
body > div > main > main div.widget.thread > div > div.note > div.text > a > span {
    display: inline-block;

    vertical-align: middle;

    box-sizing: border-box;

    width: 2em;
    height: 2em;

    margin-right: 0.5em;

    padding: calc(0.5em - 1px);

    background-color: white;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
}
body > div > main > main div.widget.thread > div > div.note.action.close > div.text > a > span {
    background-color: green;
}
body > div > main > main div.widget.thread > div > div.note.action.reopen > div.text > a > span {
    background-color: red;
}
body > div > main > main div.widget.thread > div > div.note > div.text > a > span > img {
    display: block;

    width: 100%;
    height: 100%;
}
body > div > main > main div.widget.thread > div > div.note.action > div.text > a > span > img {
    filter: invert(1);
}