main.view {
    flex: 1;

    display: flex;

    flex-direction: row;

    overflow: hidden;
}

main.view > div:first-child:last-child {
    width: 100vw;
}

main.view > div:nth-child(1) {
    display: flex;

    flex-direction: column;

    width: 50em;
        
    overflow: auto;
}
main.view > div:nth-child(1) > div {
    box-sizing: border-box;

    padding-left: 1rem;
    padding-right: 1rem;
}

main.view > div:nth-child(1) > div:first-child {
    flex: 1;

    padding-top: 0.5em;
}

main.view > div:nth-child(1) > div:first-child > div.button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main.view > div:nth-child(1) > div:first-child > div.button-bar > * {
    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    flex-shrink: 0;
}

main.view > div:nth-child(1) > div:first-child > a.button.right {
    float: right;

    margin-left: 1em;
    margin-right: 0em;
}

main.view > div:nth-child(1) > div:last-child {
    flex: 0;
    
    padding-bottom: 0.5rem;

    text-align: center;

    font-size: 0.75em;

    color: rgb(128,128,128);
}
main.view > div:nth-child(1) > div:last-child > a {
    margin-left: 0.5rem;

    color: rgb(192,192,192);
}
main.view > div:nth-child(1) > div:last-child > a:hover {
    color: black;
}

main.view > div:nth-child(2) {
    flex: 1;

    overflow: hidden;
}

@media screen and (max-width: 70em) {
    main.view.sidebar > div {
        width: 100vw;
    }

    main.view.sidebar > div:nth-child(2) {
        display: none;
    }

    main.view.sidebar.visible > div:nth-child(1) {
        display: none;
    }
    main.view.sidebar.visible > div:nth-child(2) {
        display: block;
    }
}