body > div > main form.search-input > span > input.header-search {
    border-spacing: 0.5em;
    background-color: white;
    margin-top: 0.75em;
    margin-bottom: 0.75em;

    font-family: inherit;
    font-size: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
}
body > div > main form.search-input > span > input.header-search[type="text"] {
    width: 17em;
}
