table {
    min-width: 100%;
    
    margin-top: calc(0.75em);
    margin-bottom: calc(0.75em);
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
    border-spacing: 0;
}
table > thead > tr > th {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
    
    background-color: rgb(245,245,245);
    
    white-space: nowrap;
}
table > thead > tr > th:first-child {
    border-top-left-radius: 1em;
}
table > thead > tr > th:last-child {
    border-top-right-radius: 1em;
}
table > tbody > tr > td {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    border-top: 1px solid rgb(215,215,215);
}
table > tbody > tr > td:first-child {
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}
table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 1em;
}
table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 1em;
}
table > tbody > tr:hover > td {
    background-color: rgb(245,245,245);
}
table *.fill {
    width: 100%;
}
table *.top {
    vertical-align: top;
}
table *.middle {
    vertical-align: middle;
}
table *.bottom {
    vertical-align: bottom;
}
table *.left {
    text-align: left;
}
table *.center {
    text-align: center;
}
table *.model {
    width: 10em;
    height: 10em;
    
    background-color: rgb(215,215,215);
    background-position: center;
    background-size: cover;
}
table *.right {
    text-align: right;
}
table *.nowrap {
    white-space: nowrap;
}
table a {
    color: black;
}
table a.open {
    color: green;
}
table a.closed {
    color: red;
}
table a:hover {
    color: blue;
}
table div.progress {
    height: 0.5em;
    
    margin-bottom: 1px;
    
    background-color: rgb(245,245,245);
}
table div.progress:last-child {
    margin-bottom: 0;
}
table div.progress > div {
    height: 100%;
    
    background-color: black;
}

form table {
    border-color: rgb(245,245,245);
}
form table > thead > tr > th {
    background-color: rgb(205,205,205);
}
form table > tbody > tr > td {
    background-color: rgb(215,215,215);
    
    border-top: 1px solid rgb(245,245,245);
}
form table > tbody > tr:hover > td {
    background-color: rgb(205,205,205);
}

@media screen and (max-width: 45em){
    div table > tbody > tr > td:nth-child(2),
    form table > tbody > tr > td:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        max-width: 10em;
    }
}
