body > div > main form {
    display: table;
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    width: 100%;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
    border-spacing: 1.5em;
    border-collapse: separate;
    background-color: rgb(245,245,245);
}
body > div > main form > div {
    display: table-row;
}
body > div > main form > div > div {
    display: table-cell;
    vertical-align: middle;
}
body > div > main form > div > div:first-child {
    width: 0;
    white-space: nowrap;
}
body > div > main form > div > div:last-child {
    width: 100%;
}
body > div > main form > div > div > label::after {
    content: ":";
}
body > div > main form > div > div > input,
body > div > main form > div > div > textarea {
    box-sizing: border-box;

    max-width: 100%;

    font-family: inherit;
    font-size: inherit;

    line-height: inherit;

    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: calc(0.75rem - 0.25em);

    border: 0;
    border-radius: 0.5em;
    outline: 0;

    background-color: rgb(215,215,215);
    color: black
}
body > div > main form > div > div > input[type="text"] {
    width: 25em;
}
body > div > main form > div > div > input[type="email"],
body > div > main form > div > div > input[type="password"] {
    width: 20em;
}
body > div > main form > div > div > input[type="number"] {
    width: 5em;
}
body > div > main form > div > div > input[type="submit"] {
    color: white;
    background-color: blue;
}
body > div > main form > div > div > input[type="button"] {
    color: white;
    background-color: gray;
}
body > div > main form > div > div > textarea {
    height: 10em;
}
body > div > main form > div > div > *.fill {
    width: 100% !important;
}