body > div > main table {
    min-width: 100%;
    margin-top: calc(0.75em);
    margin-bottom: calc(0.75em);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215,215,215);
    border-radius: 1em;
    border-spacing: 0;
}
body > div > main table > thead > tr > th {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);
    background-color: rgb(245,245,245);
    white-space: nowrap;
}
body > div > main table > thead > tr > th:first-child {
    border-top-left-radius: 1em;
}
body > div > main table > thead > tr > th:last-child {
    border-top-right-radius: 1em;
}
body > div > main table > tbody > tr > td:first-child {
    padding-top: calc(0.75rem - 0.25em);
    padding-bottom: calc(0.75rem - 0.25em);
}
body > div > main table > tbody > tr > td {
    padding-top: calc(0.75rem - 0.25em);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: calc(0.75rem - 0.25em);

    border-top: 1px solid rgb(215,215,215);
}
body > div > main table *.fill {
    width: 100%;
}
body > div > main table *.top {
    vertical-align: top;
}
body > div > main table *.middle {
    vertical-align: middle;
}
body > div > main table *.bottom {
    vertical-align: bottom;
}
body > div > main table *.left {
    text-align: left;
}
body > div > main table *.center {
    text-align: center;
}
body > div > main table *.right {
    text-align: right;
}
body > div > main table *.nowrap {
    white-space: nowrap;
}
body > div > main table a {
    color: black;
}
body > div > main table a.open {
    color: red;
}
body > div > main table a.closed {
    color: green;
}
body > div > main table a:hover {
    color: blue;
}
body > div > main table img {
    display: block;
    padding: 0.25em;
}
body > div > main table img.small {
    width: 1em;
    height: 1em;
}
body > div > main table img.big {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}