main.view.auth > div {
    background-color: rgb(245,245,245);
}

main.view.auth > div > div:first-child {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}

main.view.auth > div > div:first-child > div {
    background-color: white;

    box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,0.05);

    padding: 1em;

    max-width: 30em;

    border-radius: 1em;
}

main.view.auth > div > div:first-child > div > h5 {
    color: gray;
}

main.view.auth > div > div:first-child > div > h1 > span {
    white-space: nowrap;
}

main.view.auth > div > div:first-child > div > div {
    padding-top: 1em;
    padding-bottom: 1em;
}

main.view.auth > div > div:first-child > div > div > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    max-width: calc(100vw - 10em);
}

main.view.auth > div > div:first-child > div > div > button {
    margin-left: 0.25em;
    margin-right: 0.25em;

    width: 7.5em;
}

main.view.auth > div > div:first-child > div > div > input[type = 'email'] + button,
main.view.auth > div > div:first-child > div > div > input[type = 'text'] + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    margin-left: 0;
    margin-right: 0;
}