main.view.auth > main > div {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

main.view.auth > main > div > * {
    max-width: 30em;

    text-align: center;
}

main.view.auth > main > div > img {
    display: block;

    width: 5em;
    height: 5em;

    margin: 1em;
}

main.view.auth > main > div > h5 {
    color: gray;
}

main.view.auth > main > div > h1 > span {
    white-space: nowrap;
}

main.view.auth > main > div > div {
    padding-top: 1em;
    padding-bottom: 1em;
}

main.view.auth > main > div > div > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    max-width: calc(100vw - 10em);
}

main.view.auth > main > div > div > button {
    margin-left: 0.25em;
    margin-right: 0.25em;

    width: 7.5em;
}

main.view.auth > main > div > div > input[type = 'email'] + button,
main.view.auth > main > div > div > input[type = 'text'] + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    margin-left: 0;
    margin-right: 0;
}

main.view.auth > main > div > div > a {
    width: 7.5em;
}