@media screen and (max-width: 35em){
    main.view.product-member table > thead > tr > th:nth-child(3) {
        display: none;
    }
    main.view.product-member table > tbody > tr > td:nth-child(3) {
        display: none;
    }
    main.view.product-member table > thead > tr > th:nth-child(2) {
        width: 100%;
    }
    main.view.product-member table > tbody > tr > td:nth-child(2) {
        width: 100%;
    }
}