main.view.product-issue-comment audio  {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}


@media screen and (max-width: 45em){
    main.view.product-issue-comment audio  {
        max-width: 15em;
       
    }
}