@media screen and (max-width: 65em) {
    main.view.product table > tbody > tr > td > div.model {
        width: 5em;
        height: 5em;
    }
}

@media screen and (max-width: 55em) {
    main.view.product table > * > tr > *:nth-child(3),
    main.view.product table > * > tr > *:nth-child(4),
    main.view.product table > * > tr > *:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 45em) {
    main.view.product table > * > tr > *:nth-child(6) {
        display: none;
    }
}