span.badge {
    display: inline-block;

    font-size: 75%;

    line-height: 1.25rem;

    margin-top: 0.125rem;
    margin-left: 0.5rem;
    margin-bottom: 0.125rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 0.5rem;

    vertical-align: top;

    background-color: rgb(225,225,225);

    color: gray;
}
span.badge:first-child {
    margin-left: 0;
}
span.badge.public {
    background-color: gray;

    color: white;
}
span.badge.private {
    background-color: gray;

    color: white;
}
span.badge.role {
    background-color: black;

    color: white;
}

.button.fill span.badge {
    background-color: rgba(255,255,255,0.5);

    color: white;
}

.button.stroke span.badge {
    color: white;
}
.button.stroke.blue span.badge {
    background-color: var(--blue-alpha-50);
}
.button.stroke.green span.badge {
    background-color: var(--green-alpha-50);
}