span.value {
    display: inline-block;
}

span.value > span.loading {
    display: inline-block;

    width: 7em;
    height: 1em;

    border-radius: 0.5em;

    vertical-align: middle;

    background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.10));
}